In [2]:
import pandas as pd

# Conversion Table

In [7]:
inds = ['g', 'ml', 'tsps', 'Tbsps', 'lb']
data = {'to_Kg_multiplier':[1/1000, 1/1000, 5/1000, 15/1000, 1/2.2]}

conv_df = pd.DataFrame(data, index=inds)

In [8]:
conv_df

       to_Kg_multiplier
g              0.001000
ml             0.001000
tsps           0.005000
Tbsps          0.015000
lb             0.454545

# Analogous Foods Table

In [4]:
emissions_table = pd.read_csv('../footprint_data/ingredients_weights_emissions.csv')
result_list = emissions_table.to_dict(orient='records')

In [5]:
emissions_table.head()

        Ingedient  Weight(g)  Emissions(gCO2)
0        Allspice       1000             1133
1  Almond extract       1000              656
2         Almonds       1000             2856
3       Anchovies       1000             4220
4     Apple juice       1000             2440

In [ ]:
{'beef': ['mince','chunk', 'serlion']}

In [ ]:
dicto={'ingredient':'beef','value':'250','metric':'g'}

In [ ]:
x = emissions_table.get(dicto['ingredient'].title())

In [ ]:
dicto['ingredient'].title()

In [ ]:
print(x)

# CO2 Emissions in Miles, Showers, etc.

In [19]:
a = 166/44.92
b = 100.25/27
c = 254/68.8
d = 237/64.2
e = 149/40.1
f = 133/35.9
g = 37.5/10.1

import numpy as np
km_per_kg = (np.mean([a,b,c,d,e,f,g]))
km_per_g = round((km_per_kg/1000),5)
km_per_g

0.0037

In [20]:
# 166 kg per year, assuming 300 showers a year at home:
shower_per_kg = (300/161)
shower_per_g = round((shower_per_kg/1000),5)
shower_per_g

0.00186

In [21]:
# 55g per hour to stream videos:
hrs_of_streaming_per_kg = (1/float(55/1000))
hrs_of_streaming_per_g = round((hrs_of_streaming_per_kg/1000),4)
hrs_of_streaming_per_g

0.0182

In [26]:
# table combining the 3 metrics to allow for calculation down the line:
dict_data = {
'km_per_g':[km_per_g],
'shower_per_g':[shower_per_g],
'hrs_of_streaming_per_g':[hrs_of_streaming_per_g]
}

equivalence_table = pd.DataFrame(dict_data)
equivalence_table.head()

   km_per_g  shower_per_g  hrs_of_streaming_per_g
0    0.0037       0.00186                  0.0182
1    0.0037       0.00186                  0.0182
2    0.0037       0.00186                  0.0182

In [27]:
equivalence_table.to_csv('equivalence_table.csv')

In [ ]:
km_per_g
shower_per_g
hrs_of_streaming_per_g

In [ ]:
# GCP_PROJECT_ID='fritz-293048'
# DOCKER_IMAGE_NAME='fritz_image_1'
# GCR_MULTI_REGION='eu.gcr.io'
# GCR_REGION='europe-north1-a'