In [2]:
import pandas as pd

# Conversion Table

In [8]:
inds = ['g', 'ml', 'tsps', 'Tbsps', 'lb']
data = {'to_Kg_multiplier':[1/1000, 1/1000, 5/1000, 15/1000, 1/2.2]}

conv_df = pd.DataFrame(data, index=inds)

In [9]:
conv_df

       to_Kg_multiplier
g              0.001000
ml             0.001000
tsps           0.005000
Tbsps          0.015000
lb             0.454545

# Analogous Foods Table

In [6]:
emissions_table = pd.read_csv('/Users/jackjohson/code/Matbeac/fritz/footprint_data/ingredients_weights_emissions.csv')
result_list = emissions_table.to_dict(orient='records')

In [7]:
emissions_table.head()

        Ingedient  Weight(g)  Emissions(gCO2)
0        Allspice       1000             1133
1  Almond extract       1000              656
2         Almonds       1000             2856
3       Anchovies       1000             4220
4     Apple juice       1000             2440

In [ ]:
Beef: 'mince','chunk'

# CO2 Emissions in Miles, Showers, etc.

In [15]:
a = 166/44.92
b = 100.25/27
c = 254/68.8
d = 237/64.2
e = 149/40.1
f = 133/35.9
g = 37.5/10.1

import numpy as np
km_per_kg = np.mean([a,b,c,d,e,f,g])
km_per_kg

In [23]:
# 166 kg per year, assuming 300 showers a year at home:
shower_per_kg = 300/161
shower_per_kg

1.8633540372670807

In [29]:
# 55g per hour to stream videos:
hrs_of_streaming_per_kg = 1/float(55/1000)
hrs_of_streaming_per_kg

18.181818181818183

In [46]:
# cols = ['km_per_kg', 'shower_per_kg', 'hrs_of_streaming_per_kg']
data = {'km_per_kg':km_per_kg, \
        'shower_per_kg':shower_per_kg, \
        'hrs_of_streaming_per_kg':hrs_of_streaming_per_kg}

equivalence_table = pd.DataFrame(data.reset_index())
equivalence_table.head()

AttributeError: 'dict' object has no attribute 'reset_index'